/* Custom Design */
body { overflow-x: hidden; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0f172a; }
::-webkit-scrollbar-thumb { background: #ef4444; border-radius: 10px; }

.hidden { display: none; }

/* Animação de Entrada */
#resultado {
    animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}

canvas { max-width: 100% !important; }

/* Estilo de destaque dinâmico */
.link-destaque {
    border-color: #ef4444 !important;
    background-color: #1e1b4b !important;
    transform: scale(1.03);
    box-shadow: 0 10px 20px -5px rgba(239, 68, 68, 0.3);
}
